* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 740px) {
  .FullMenu, .logo {
    display: none;
  }
  body {
    background-image: url("../Images/TMEGalleryMobile.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 100vw 100vh;
  }
  .MenuImage {
    position: absolute;
    left: 70vw;
    top: 5vh;
    cursor: pointer;
  }
  .MenuImage img {
    width: 80%;
  }
  .DropDown {
    position: absolute;
    opacity: 0;
    top: 15vh;
    left: 50vw;
    margin-right: 1%;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .DropDown ul {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
    padding-left: 2%;
  }
  .DropDown li {
    display: block;
  }
  .DropDown li img {
    width: 100%;
    height: 50px;
    margin: 1%;
  }
  .DropDown.active {
    position: absolute;
    opacity: 1;
    top: 15vh;
    left: 50vw;
    margin-right: 1%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    z-index: 2;
  }
  .DropDown.active ul {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
    padding-left: 2%;
  }
  .DropDown.active li {
    display: block;
  }
  .DropDown.active li img {
    width: 100%;
    height: 50px;
    margin: 1%;
  }
  .Gallery-Container {
    position: absolute;
    top: 48vh;
    background-color: rgba(0, 0, 0, 0.705);
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2.5%;
  }
  .Gallery-Container img {
    width: 98%;
    padding: 2%;
    margin-left: 1.5%;
  }
  .Gallery-Container p {
    color: green;
    margin-left: 2%;
    padding: 2%;
  }
  .Gallery-Container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px 3px green;
    font-size: 200%;
  }
}

@media screen and (min-width: 741px) and (max-width: 1369px) {
  .FullMenu, .logo {
    display: none;
  }
  body {
    background-image: url("../Images/TMEStoreTablet.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 100vw 100vh;
  }
  .MenuImage {
    position: absolute;
    left: 77vw;
    top: 3vh;
    cursor: pointer;
  }
  .MenuImage img {
    width: 70%;
  }
  .DropDown {
    position: absolute;
    opacity: 0;
    top: 12vh;
    left: 65vw;
    margin-right: 1%;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .DropDown ul {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
    padding-left: 4%;
  }
  .DropDown li {
    display: block;
  }
  .DropDown li img {
    width: 100%;
    height: 60px;
    margin: 1%;
  }
  .DropDown.active {
    position: absolute;
    opacity: 1;
    top: 12vh;
    left: 65vw;
    margin: 1%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    z-index: 2;
  }
  .DropDown.active ul {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .DropDown.active li {
    display: block;
  }
  .DropDown.active li img {
    width: 100%;
    height: 60px;
    margin: 1%;
  }
  .Gallery-Container {
    position: absolute;
    top: 48vh;
    background-color: rgba(0, 0, 0, 0.705);
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2.5%;
  }
  .Gallery-Container div {
    display: flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Gallery-Container img {
    width: 31%;
    padding: 2%;
    margin-left: 1.5%;
  }
  .Gallery-Container p {
    color: green;
    margin-left: 2%;
    padding: 2%;
  }
  .Gallery-Container .Emotes img {
    width: 20%;
  }
  .Gallery-Container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px 3px green;
    font-size: 300%;
  }
}

@media screen and (min-width: 1370px) {
  .MobileMenu {
    display: none;
  }
  body {
    background-color: black;
    background-image: url("../Images/TMEGalleryBackground.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }
  .FullMenu ul {
    position: absolute;
    top: 35vh;
    left: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .FullMenu ul img, .FullMenu ul a {
    width: 100%;
    height: 80px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .Gallery-Container {
    position: absolute;
    top: 48vh;
    background-color: rgba(0, 0, 0, 0.705);
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2.5%;
  }
  .Gallery-Container div {
    display: flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Gallery-Container img {
    width: 20%;
    padding: 2%;
    margin-left: 9.5%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .Gallery-Container p {
    color: green;
    margin-left: 2%;
    padding: 2%;
  }
  .Gallery-Container .Emotes img {
    width: 15%;
  }
  .Gallery-Container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px 3px green;
    font-size: 500%;
  }
  .FullMenu img:hover, img:focus, img:hover, img:focus {
    -webkit-filter: brightness(180%);
            filter: brightness(180%);
  }
}
/*# sourceMappingURL=Gallery.css.map */